body {
  margin: 0 auto;
  width: 80%;
  background-color: black;
}

section {
  padding: 100px 0;
}

.nav {
  background-image: url(https://placehold.co/1200x600);
  height: 80vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.nav-title {
  text-decoration: none;
  color: rgb(232, 206, 6);
  font-size: larger;
}

ul {
  list-style-type: none;
  padding-right: 50px;
}

ul li {
  margin-right: 20px;
}

.content {
  display: flex;
  position: absolute;
  text-align: center !important;
  justify-content: center !important;
}

.text-center {
  text-align: center;
}

.services,
footer {
  background-color: white;
}

.portfolio {
  background-color: rgba(245, 241, 241, 0.89);
}

.card-text {
  background-color: white;
  text-align: center;
  padding: 10px;
  width: 280px;
}

.card img {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

footer i {
  margin: 20px;
  width: 50px;
  height: 50px;
  background-color: black;
  color: white;
  border-radius: 50%;

  display: flex; /* włączamy flexa */
  justify-content: center; /* wyśrodkowanie poziome */
  align-items: center; /* wyśrodkowanie pionowe */
  font-size: 20px;
}
